.btn-wrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 35px;
  flex-wrap: wrap;
  button {
    border: none;
    border-radius: 20px;
    background-color: #e59c9c;
    padding: 10px 20px;
    margin-bottom: 15px;
    &:hover {
      opacity: 0.7;
    }
  }
}
