a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  transition: all 0.3s ease-in;
  &:hover {
    color: #e59c9c;
  }
}
nav {
  display: flex;
  justify-content: space-between;
}
.active {
  color: #e59c9c;
  text-decoration: underline;
}

@media (max-width: 991px) {
  .logo {
    margin-bottom: 50px;
    display: block;
  }
  nav {
    display: none;
  }
}

@media (max-width: 576px) {
  .header {
    .d-flex {
      flex-direction: column;
    }
  }
}
